.derecho .plasta_circular .receta_home_cont.subir_anim{
    transform: translate(-50%, -20%);
    opacity: 0;
    @include med-query($petit){
        transform: translate(-50%, -20%);
    }
    @include med-query($small){
        transform: translate(-50%, -20%);
    }
    @include med-query($large){
        transform: translate(0, -100%);
    }
}
.derecho .plasta_circular .receta_home_cont.bajar_anim{
    transform: translate(-50%, 20%);
    opacity: 0;
    @include med-query($petit){
        transform: translate(-50%, 20%);
    }
    @include med-query($small){
        transform: translate(-50%, 20%);
    }
    @include med-query($large){
        transform: translate(0, 0%);
    }
}
.izquierdo .sobre.subir_anim{
    transform: translate(-50%, -20%) rotate(-5deg);
    opacity: 0;
    @include med-query($medium){
        transform: translate(-50%, -100%) rotate(-5deg);
    }
}
.izquierdo .sobre.bajar_anim{
    transform: translate(-50%, 20%) rotate(-5deg);
    opacity: 0;
    @include med-query($medium){
        transform: translate(-50%, 50%) rotate(-5deg);
    }
}
