.contacto_texto{
    color: color(verde-tang);
    font-size: 1rem;
    text-align: center;
    width: 600px;
    max-width: 90%;
    margin: 0 auto 15px;
    @include med-query($small){
        font-size: 1.2rem;
    }
}
#form_contacto{
    @include placeholder-style(color(form-input), 'muli');
    width: 400px;
    max-width: 85%;
    padding-top: 5px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    @include med-query($small){
        padding-top: 25px;
    }
    .form-control{
        padding: 15px 10px;
        color: color(form-input);
        text-align: center;
        border: none;
        border-radius: 0;
        &#comentario{
            height: 80px;
        }
        @include med-query($small){
            &#comentario{
                height: 300px;
            }
        }
        @include med-query($medium){
            &#comentario{
                height: 150px;
            }
        }
    }
    .enviar_contacto{
        @include bg-image('img/boton_textura.png', cover);
        @include boton-madera(220px, 50px, 1.5rem, 1rem 0 0);
    }
}