.contacto_texto{
    color: color(verde-tang);
    font-size: 1rem;
    text-align: center;
    width: 800px;
    max-width: 90%;
    width: 600px;
    margin: 0 auto 15px;
    text-transform: uppercase;
    font-family: 'fatFrank';
    strong{
        color: color(naranja-tang);
        font-size: 3rem;
    }
    span{
        font-weight: bold;
        display: block;
        margin: 20px 0;
    }
}
#form_contacto{
    @include placeholder-style(color(form-input), 'muli');
    width: 400px;
    max-width: 85%;
    padding-top: 5px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    @include med-query($small){
        padding-top: 25px;
    }
    .form-control{
        padding: 15px 10px;
        color: color(form-input);
        text-align: center;
        border: none;
        border-radius: 0;
        background-color: #fadcc6;
        &#comentario{
            height: 80px;
        }
        @include med-query($small){
            &#comentario{
                height: 300px;
            }
        }
        @include med-query($medium){
            &#comentario{
                height: 150px;
            }
        }
        &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: #de8c4f;
            opacity: 1; /* Firefox */
        }
        
        &:-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: #de8c4f;
        }
        
        &::-ms-input-placeholder { /* Microsoft Edge */
            color: #de8c4f;
        }
    }
    .enviar_contacto{
        width: 220px;
        height: 40px;
        font-size: 1.5rem;
        font-family: 'fatFrank';
        margin-top: 20px;
        color: #ffffff;
        background-color: color(naranja-tang);
        border: none;
        border-radius: 50px;
        cursor: pointer;
        &:hover{
            background-color: #fabe6b;
        }
    }
}