$site_url: '/';
$colors: (
    primary: slateblue,
    naranja-mango: #e7a531
);
@mixin fontface($name, $src, $weight){
  @font-face{
      font-family: $name;
      src: url($site_url + $src);
      font-weight: $weight;
  }
}


@include fontface("todayshop", 'assets/fonts/todayshop-medium.otf', normal);
@include fontface("todayshop", 'assets/fonts/todayshop-bold.otf', bold);

@function color($color-name){
    @return map-get($colors, $color-name);
}

@mixin gradient($color1, $color2){
    background: $color1; /* Old browsers */
    background: -moz-linear-gradient(top, $color1 0%, $color2 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, $color1 0%,$color2 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, $color1 0%,$color2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color2',GradientType=0 ); /* IE6-9 */
}
@mixin prefix($property, $value, $prefixes: ()) {
    @each $prefix in $prefixes {
      #{'-' + $prefix + '-' + $property}: $value;
    }
    #{$property}: $value;
  }
@mixin medio($pos, $top, $left, $transx, $transy){
    position: $pos;
    top: $top;
    left: $left;
    transform: translate($transx, $transy);
}
@mixin multi-transforms($transforms){
    @include prefix(transform, $transforms, webkit moz ms)
}

$padding: 15px;

$xl: 1200px;
$large: 992px;
$medium: 768px;
$small: 576px;

@mixin med-query($size){
    @media (min-width: $size){
        @content;
    }
}

@mixin bg-image($url) {
    background-image: url($url);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
@mixin responsive-box($height){
    position: relative;
    &:before{
      content: '';
      display: block;
      padding-top: $height;
    }
  }
