$tran: 80%;
.nav_home_cont{
    @include medio(fixed, 53%, 20px, 0, -50%);
    z-index: 100000;
    .mas_nav_cont{
        cursor: pointer;
        position: relative;
        width: $width-buttons;
        height: $height-buttons;
        background-color: color(blanco);
        border-radius: 100%;
        margin-bottom: 7px;
        transition: all 400ms ease-in-out;
        @include prefix(box-shadow, 0px 0px 12px 0px rgba(0,0,0,0.75), webkit moz);
        @include med-query($small){
            width: $width-buttons*1.2;
            height: $height-buttons*1.2;
        }
        &.is-active{
            transform: rotate(225deg);
        }
        .mas_nav{
            @include medio(absolute, 50%, 50%, -50%, -50%);
            width: 60%;
            height: 60%;
            .mas_nav_item{
                background-color: color(gris-obscuro);
                &.horizontal{
                    width: 100%;
                    height: 3px;
                    @include medio(absolute, 50%, 0, 0, -50%);
                }
                &.vertical{
                    width: 3px;
                    height: 100%;
                    @include medio(absolute, 0, 50%, -50%, 0);
                    z-index: 3;
                }
            }
        }
    }
}
.colores_cont{
    position: relative;
    width: $width-buttons*1.2;
    background-color: color(blanco);
    border-radius: 100px;
    z-index: 10000000;
    padding: 5px 0;
    display: none;
    @include prefix(box-shadow, 0px 0px 12px 0px rgba(0,0,0,0.75), webkit moz);
    .colores_item{
        width: $width-buttons*.3;
        height: $height-buttons*.3;
        background-color: color(negro);
        margin: 8px auto;
        border-radius: 100%;
        cursor: pointer;
    }
}


.home_flecha_cont{
    background-color: color(blanco);
    width: $width-buttons;
    height: $width-buttons;
    border-radius: 100px;
    z-index: 1000;
    cursor: pointer;
    @include prefix(box-shadow, 0px 0px 12px 0px rgba(0,0,0,0.75), webkit moz);
    @include med-query($small){
        width: $width-buttons*1.2;
        height: $height-buttons*1.2;
    }
    .home_flecha{
        @include medio(absolute, 50%, 50%,-60%, -60%);
        z-index: 100;
        border: solid color(gris-obscuro);
        border-width: 0 4px 4px 0;
        display: inline-block;
        padding: 3px;
        width: $width-buttons*.5;
        height: $height-buttons*.5;
    }
}



.izquierdo{
    display: inline-block;
    width: 100%;
    vertical-align: top;
    height: 40%;
    position: relative;
    @include med-query($medium){
        width: 40%;
        height: 100%;
    }
    .sobre{
        @include medio(absolute, 0, 50%, -50%, 0);
        width: auto;
        max-height: 80%;
        transition: all 400ms ease-in-out;
        @include multi-transforms(translate(-50%, 0%) rotate(-5deg));
        @include prefix(box-shadow, 6px 8px 13px 2px rgba(0,0,0,0.75), webkit moz);
        @include med-query($medium){
            @include medio(absolute, 50%, 50%, -50%, -50%);
            @include multi-transforms(translate(-50%, -50%) rotate(-5deg));
            width: 250px;
        }
    }
    .home_flecha_cont{
        &.izquierda{
            @include medio(absolute, 90%, 50%, -#{$tran}, -100%);
            transform: translate(-#{$tran}, -100%) rotate(135deg);
            @include med-query($medium){
                @include medio(absolute, 90%, 50%, -#{$tran}, -100%);
                transform: translate(-#{$tran}, -100%) rotate(135deg);
            } 
        }
        &.derecha{
            @include medio(absolute, 90%, 50%, #{$tran}, -100%);
            transform: translate(#{$tran}, -100%) rotate(-45deg);
            @include med-query($medium){
                @include medio(absolute, 90%, 50%, #{$tran}, -100%);
                transform: translate(#{$tran}, -100%) rotate(-45deg);
            }
        }
    }
}
.derecho{
    position: relative;
    display: inline-block;    
    vertical-align: top;
    width: 100%;
    height: 60%;
    overflow: hidden;
    @include med-query($medium){
        width: 60%;
        height: 100%;
    }
    .plasta_circular{
        width: 250%;
        @include medio(relative, 8%, 50%, -50%, 0);
        //background-color: color(naranja-mango);
        border-radius: 100%;
        @include responsive-box(100%);
        @include prefix(box-shadow, 0px 0px 24px -9px rgba(0,0,0,0.75), webkit moz);
        transform: translate(-50%, 0) scale(1);
        @include med-query($medium){
            width: 170%;
            @include medio(relative, 50%, 10%, 0, -50%);
            @include prefix(box-shadow, 0px 0px 32px -4px rgba(0,0,0,0.75), webkit moz);
            transform: translate(0, -50%) scale(1);
        }
        .receta_home_cont{
            transition: all 400ms ease-in-out;
            @include medio(absolute, 10px, 50%, -50%, 0);
            width: 150px;
            @include med-query-height(){
                @include medio(absolute, 20px, 50%, -50%, 0);
                width: 180px;
            }
            @include med-query($petit){
                @include medio(absolute, 30px, 50%, -50%, 0);
                width: 250px;
            }
            @include med-query($small){
                @include medio(absolute, 30px, 50%, -50%, 0);
                width: 380px;
            }
            @include med-query($large){
                @include medio(absolute, 50%, 5%, 0, -50%);
                width: 40%;
            }
            .receta_home{
                position: relative;
                .receta_home_nombre{
                    //@include medio(absolute, 20px, 0, -70%, 0%);
                    @include medio(absolute, 105%, 50%, -50%, 0%);
                    color: color(naranjada-texto);
                    font-size: 1rem;
                    font-weight: bold;
                    font-style: italic;
                    line-height: 1rem;
                    text-align: center;
                    text-transform: uppercase;
                    width: 100%;
                    @include med-query($medium){
                        @include medio(absolute, 100%, 50%, -50%, 0%);
                        font-size: 1.8rem;
                        line-height: 1.8rem;
                    }
                    span{
                        font-family: 'muliBlackItalic';
                        color: color(blanco);
                        font-size: 1.2rem;
                        padding-right: 5px;
                        @include med-query($medium){
                            font-size: 2rem;
                        }
                    }
                }
                .receta_home_img{
                    max-width: 90%;
                    max-height: 90%;
                    display: block;
                    margin: 0 auto;
                    @include med-query($medium){
                        max-height: 400px;
                    }
                }
            }
        }
    }
    .home_flecha_cont{
        &.izquierda{
            @include medio(absolute, 3%, 50%, -250%, 0);
            transform: translate(-250%, 0) rotate(135deg);
            @include med-query($medium){
                @include medio(absolute, 50%, 8%, 0, -#{$tran});
                transform: translate(0, -#{$tran}) rotate(-135deg);
            }
            &.flecha_del_home{
                @include medio(absolute, 3%, 50%, -150%, 0);
                transform: translate(-150%, 0) rotate(135deg);
                @include med-query($medium){
                    @include medio(absolute, 50%, 8%, 0, -#{$tran});
                    transform: translate(0, -#{$tran}) rotate(-135deg);
                }
            }
        }
        &.derecha{
            @include medio(absolute, 3%, 50%, 150%, 0);
            transform: translate(150%, 0) rotate(-45deg);
            @include med-query($medium){
                @include medio(absolute, 50%, 8%, 0, #{$tran});
                transform: translate(0, #{$tran}) rotate(45deg);
            }
            &.flecha_del_home{
                @include medio(absolute, 3%, 50%, 50%, 0);
                transform: translate(50%, 0) rotate(-45deg);
                @include med-query($medium){
                    @include medio(absolute, 50%, 8%, 0, #{$tran});
                    transform: translate(0, #{$tran}) rotate(45deg);
                }
            }
        }
    }
}