.mas_nav_cont{
    @include medio(fixed, 50%, 20px, 0, -50%);
}
.izquierdo{
    display: inline-block;
    width: 100%;
    vertical-align: top;
    height: 40%;
    position: relative;
    @include med-query($medium){
        width: 40%;
        height: 100%;
    }
    .sobre{
        @include medio(absolute, 0, 50%, -50%, 0);
        width: auto;
        max-height: 80%;
        @include multi-transforms(translate(-50%, 0%) rotate(-5deg));
        @include prefix(box-shadow, 6px 8px 13px 2px rgba(0,0,0,0.75), webkit moz);
        @include med-query($medium){
            @include medio(absolute, 50%, 50%, -50%, -50%);
            @include multi-transforms(translate(-50%, -50%) rotate(-5deg));
            width: 250px;
        }
    }
}
.derecho{
    position: relative;
    display: inline-block;    
    vertical-align: top;
    width: 100%;
    height: 60%;
    overflow: hidden;
    @include med-query($medium){
        width: 60%;
        height: 100%;
    }
    .plasta_circular{
        width: 250%;
        @include medio(relative, 5%, 50%, -50%, 0);
        background-color: color(naranja-mango);
        border-radius: 100%;
        @include responsive-box(100%);
        @include prefix(box-shadow, 0px 0px 24px -9px rgba(0,0,0,0.75), webkit moz);
        @include med-query($medium){
            width: 170%;
            @include medio(relative, 50%, 10%, 0, -50%);
            @include prefix(box-shadow, 0px 0px 32px -4px rgba(0,0,0,0.75), webkit moz);
        }
        .receta_home_cont{
            @include medio(absolute, 10px, 50%, -50%, 0);
            width: 150px;
            @include med-query-height(){
                @include medio(absolute, 20px, 50%, -50%, 0);
                width: 180px;
            }
            @include med-query($petit){
                @include medio(absolute, 30px, 50%, -50%, 0);
                width: 250px;
            }
            @include med-query($small){
                @include medio(absolute, 30px, 50%, -50%, 0);
                width: 380px;
            }
            @include med-query($large){
                @include medio(absolute, 50%, 5%, 0, -50%);
                width: 40%;
            }
            .receta_home{
                position: relative;
                .receta_home_nombre{
                    @include medio(absolute, 20px, 0, -70%, 0%);
                    color: color(naranjada-texto);
                    font-size: 1rem;
                    font-weight: bold;
                    font-style: italic;
                    line-height: 1rem;
                    text-align: right;
                    text-transform: uppercase;
                    @include med-query($medium){
                        @include medio(absolute, 0, 0, 0%, 0%);
                        font-size: 1.8rem;
                        line-height: 1.8rem;
                    }
                    span{
                        font-family: 'muliBlackItalic';
                        color: color(blanco);
                        font-size: 1.2rem;
                        padding-right: 5px;
                        @include med-query($medium){
                            font-size: 2rem;
                        }
                    }
                }
                .receta_home_img{
                    max-width: 90%;
                    max-height: 90%;
                    display: block;
                    margin: 0 auto;
                    @include med-query($medium){
                        max-height: 400px;
                    }
                }
            }
        }
    }
}