.derecho .bounce-scale{
    transition: all 300ms ease-in-out;
    transform: translate(0, -50%) scale(0);
    //animation: scale-easeOutBounce 1000ms forwards;
}
.derecho .bounce-scale2{
    //transition: all 800ms cubic-bezier(.18,1.22,.78,1.17);
    //transform: translate(0, -50%) scale(1);
    animation: scale-easeOutBounce 500ms forwards;
}




@keyframes scale-easeOutBounce {
    0% {
        transform: translate(0, -50%) scale(0.3);
    }
    50% {
        transform: translate(0, -50%) scale(1.1);
    }
    80% {
        transform: translate(0, -50%) scale(0.95);
    }
    100% {
        transform: translate(0, -50%) scale(1);
    }

}
