.sobres_cont{
    width: 900px;
    max-width: 90%;
    margin: 0 auto;
    text-align: center;
    padding-top: 30px;
    position: relative;
    .botones_sobres{
        margin-bottom: 20px;
        .enviar_contacto{
            @include bg-image('img/boton_textura.png', cover);
            @include boton-madera(180px, 40px, 1.2rem, 1rem 10px 0);
        }
    }
    .sobres_thumbs_cont{
        .receta_thumb_cont{
            margin: 15px 0;
            @include prefix(box-shadow, 2px 4px 10px 0px rgba(0, 0, 0, 0.65), webkit moz);
            .receta_thumb{
                width: 100%;
            }
        }
    }
}
.sabor_interior_texto{
    @include medio(absolute, 30px, 50%, -50%, 0);
    z-index: 10;
    width: 90%;
    height: 65%;
    overflow: auto;
    margin-top: 20px;
    color: color(blanco);
    text-align: center;
    @include med-query($petit){
        height: 70%;
    }
    @include med-query($medium){
        width: 70%;
        @include medio(absolute, 30px, 90%, -100%, 0);
    }
    .sabor_interior_titulo{
        color: color(blanco);
        font-family: 'muli';
        font-size: 1.5rem;
        line-height: 1.5rem;
        width: 100%;
        p{
            text-align: center;
            @include med-query($medium){
                width: 85%;
            }
        }
        span{
            color: color(naranjada-texto);
            font-weight: bold;
            font-style: italic;
            font-size: 1.8rem;
            display: block;
        }
    }
}
.porciones_cont{
    .porciones_tamanos, .porciones_envase{
        display: inline-block;
        vertical-align: middle;
        width: 50%;
        *{
            display: inline-block;
            vertical-align: middle;
            text-align: left;
        }
        .textbox{
            width: 80%;
        }
        .porciones_img_item{
            width: 30px;
        }
    }
}
.info_nutri_cont{
    .info_nutri_tabla{
        width: 60%;
        font-size: .8rem;
        text-align: left;
        margin: 0 auto;
        p{
            margin-bottom: 0;
            padding: 2px 0;
            .info_nutri_num{
                text-align: right;
                border-left: 2px solid color(blanco);
                display: inline-block;
                width: 15%;
            }
        }
    }
}
