@import '_functions.scss';
@import '_home.scss';
@import '_contacto.scss';
@import '_hamburgers.scss';


@include fontface("muli", '/css/fonts/Muli-Regular.ttf', normal);
@include fontface("muli", '/css/fonts/Muli-Bold.ttf', bold);
@include fontface("muli_bolditalic", '/css/fonts/Muli-BoldItalic.ttf', normal);


html{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    &.over_hidden{
        overflow-y: hidden;
    }
    &.over_visible{
        overflow-y: visible;
    }
    @include med-query($small){
        &.over_visible{
            overflow-y: hidden;
        }
    }
    body{
        width: 100%;
        min-height: 100%;
        font-family: 'muli';
        overflow-x: hidden;
        &.over_hidden{
            overflow-y: hidden;
            min-height: 0;
            height: 100%;
        }
        &.over_visible{
            overflow-y: visible;
        }
        @include med-query($small){
            min-height: 0;
            height: 100%;
            &.over_visible{
                overflow-y: hidden;
            }
        }
    }
}
.fondo_madera{
    @include fondos('img/back_madera.jpg', cover); 
}
.fondo_claro{
    background-color: #dddcdc;
}
.fondo_claro_int{
    @include fondos('img/back_claro.png', 200% 100%); 
    padding-top: 30px;
    padding-bottom: 80px;
    @include med-query($small){
        padding-top: 100px;
        padding-bottom: 300px;
    }
    @include med-query($medium){
        padding-top: 0;
        @include fondos('img/back_claro.png', 115% 100%); 
    }
}
.hamburger_cont{
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #fff;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    z-index: 100;
    @include prefix(box-shadow, 0px 0px 12px 0px rgba(0,0,0,0.75), webkit moz);
    @include med-query($small){
        width: 50px;
        height: 50px;
    }
}
.logo{
    width: 70px;
    max-width: 40%;
    @include medio(absolute, 20px, 100%, -120%, 0);
    z-index: 100;
    @include med-query($medium){
        width: 100px;
    }
}
.logo_2{
    width: 70px;
    max-width: 40%;
    @include medio(absolute, 20px, 50%, -50%, 0);
    z-index: 100;
    @include med-query($medium){
        width: 100px;
    }
}
.promo{
    @include medio(fixed, 100%, 50%, -50%, -100%);
    width: 400px;
    max-width: 80%;
    @include med-query($medium){
        @include medio(fixed, 100%, 100%, -100%, -100%);
    }
}
.secion_logo_medio{
    padding-top: 90px;
    @include med-query($medium){
        padding-top: 120px;
    }
}