@import '_functions';
@import '_home';
@import '_contacto';
@import '_recetas';
@import '_sobres';
@import '_hamburgers';
@import 'keyframes';


@include fontface("muli", '/css/fonts/Muli-Regular.ttf', normal, normal);
@include fontface("muli", '/css/fonts/Muli-Bold.ttf', bold, normal);
@include fontface("muli", '/css/fonts/Muli-Italic.ttf', normal, italic);
@include fontface("muli", '/css/fonts/Muli-BoldItalic.ttf', bold, italic);
@include fontface("muliBlackItalic", '/css/fonts/Muli-BlackItalic.ttf', bolder, italic);


a:link, a:visited, a:hover, a:active{
    text-decoration: none;
    color: inherit;
}

html{
    height: 100%;
    @include med-query($medium){
            height: 100vh;
    }
    body{
        height: 100%;
        font-family: 'muli';
        background-color: #f0f0f0;
        @include med-query($medium){
                height: 100vh;
        }
    }
}
.fondo_madera{
    @include fondos('img/back_madera.jpg', cover); 
    height: 100%;
    @include med-query($medium){
        height: 100vh;
    }
}
.fondo_madera_2{
    @include fondos('img/back_madera_2.jpg', cover); 
    padding-top: 30px;
    height: 100%;
    @include med-query($medium){
        height: 100vh;
    }
    .sobre{
        top: 20px;
        @include med-query($medium){
            top: 50%;
        }
    }
}
.fondo_claro{
    background-color: #dddcdc;
}
.fondo_claro_int{
    position: relative;
    @include fondos('img/back_claro.png', 150% auto); 
    background-position: top center;
    padding-top: 30px;
    padding-bottom: 80px;
    @include med-query($medium){
        padding-top: 0;
        @include fondos('img/back_claro.png', 130% auto); 
        background-position: top center;
    }
    .back_color{
        background-color: #f0f0f0;
        position: absolute;
        top: 30px;
        left: 0;
        width: 100%;
        height: calc(100% - 30px);
        z-index: 0;
        @include med-query($small){
            top: 30%;
            height: 70%;
        }
    }
}
.receta_interior_cont{
    background-size: auto 55%;
    background-position: top left;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    @include med-query($small){
        background-size: auto auto;
    }
    @include med-query($xl){
        background-size: cover;
    }
}
.hamburger_cont{
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: color(blanco);
    border-radius: 100%;
    width: $width-buttons;
    height: $height-buttons;
    z-index: 10000000;
    @include prefix(box-shadow, 0px 0px 12px 0px rgba(0,0,0,0.75), webkit moz);
    @include med-query($small){
        width: $width-buttons*1.30;
        height: $height-buttons*1.30;
    }
}
.logo{
    width: 70px;
    max-width: 40%;
    @include medio(absolute, 20px, 100%, -120%, 0);
    z-index: 10000000;
    transition: 600ms all ease-in-out;
    @include med-query($medium){
        width: 100px;
    }
    &.madera_move{
        left: 50%;
        transform: translate(-50%, 0);
    }
}
.logo_2{
    width: 70px;
    max-width: 40%;
    @include medio(absolute, 20px, 50%, -50%, 0);
    z-index: 10000000;
    transition: 400ms all ease-in-out;
    @include med-query($medium){
        width: 100px;
    }
    &.madera_move{
        left: 50%;
        transform: translate(-50%, 0);
    }
}
.promo{
    @include medio(fixed, 100%, 50%, -50%, -100%);
    width: 400px;
    max-width: 80%;
    z-index: 100;
    @include med-query($medium){
        @include medio(fixed, 100%, 100%, -100%, -100%);
    }
    .promo_img{
        width: 100%;
    }
    .cerrar_promo{
        cursor: pointer;
        @include medio(absolute, 5px, 100%, -100%, -50%);
        width: $width-buttons*.7;
        height: $height-buttons*.7;
        background-color: color(blanco);
        border-radius: 100%;
        margin-bottom: 7px;
        transform: translate(-100%, -50%) rotate(45deg);
        @include prefix(box-shadow, 0px 0px 12px 0px rgba(0,0,0,0.75), webkit moz);
        @include med-query($small){
            @include medio(absolute, 10px, 95%, -100%, -50%);
            width: $width-buttons*.7;
            height: $height-buttons*.7;
            transform: translate(-100%, -50%) rotate(45deg);
        }
        .mas_nav{
            @include medio(absolute, 50%, 50%, -50%, -50%);
            width: 60%;
            height: 60%;
            .mas_nav_item{
                background-color: color(gris-obscuro);
                &.horizontal{
                    width: 100%;
                    height: 3px;
                    @include medio(absolute, 50%, 0, 0, -50%);
                }
                &.vertical{
                    width: 3px;
                    height: 100%;
                    @include medio(absolute, 0, 50%, -50%, 0);
                    z-index: 3;
                }
            }
        }
    }
}
.secion_logo_medio{
    padding-top: 90px;
    @include med-query($medium){
        padding-top: 120px;
    }
}
.menu_cont{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000000;
    transform: translate(0, -100%);
    &.madera_move{
        transform: translate(0, 0);
    }
    .madera{
        width: 100%;
        height: 25%;
        transition: all 500ms ease-in-out;
        transform: translate(-100%, 0);
        @for $i from 1 through 4{
            &.madera#{$i}{
                @include bg-image('img/menu/madera'+$i+'.jpg', 100% 100%);
                &.madera_move{
                    transform: translate(0, 0);
                }
            }

        }
    }
    .menu_botones{
        @include medio(absolute, 70px, 50%, -50%, -100px);
        z-index: 2;
        width: 100%;
        height: calc(100% - 100px);
        opacity: 0;
        transition: all 400ms ease-in-out;
        @include med-query($medium){
            @include medio(absolute, 80px, 50%, -50%, -100px);
        }
        &.madera_move{
            transform: translate(-50%, 0);
            opacity: 1;
        }
        .menu_boton{
            background-color: color(blanco);
            width: 200px;
            height: 50px;
            font-weight: bold;
            font-size: 1.2rem;
            display: block;
            margin: 20px auto;
            border: none;
            border-radius: 100px;
            transition: all 80ms ease-in-out;
            cursor: pointer;
            @include prefix(box-shadow, 2px 3px 13px 2px rgba(0,0,0,0.75), webkit moz);
            @include med-query($medium){
                margin: 30px auto;
            }
            &:hover{
                background-color: color(verde-tang);
                width: 250px;
                height: 63px;
                font-size: 1.5rem;
                color: color(blanco);
            }
        }
    }
}
.uppercase{
    text-transform: uppercase;
}
.derecho{
    .nav_home_cont{
        @include medio(absolute, 3%, 50%, -50%, 0);
        z-index: 100000;
        @include med-query($medium){
            @include medio(absolute, 50%, 10%, -50%, -50%);
        }
        .mas_nav_cont{
            transform: rotate(45deg);
            cursor: pointer;
            position: relative;
            width: $width-buttons;
            height: $height-buttons;
            background-color: color(blanco);
            border-radius: 100%;
            margin-bottom: 7px;
            transition: all 400ms ease-in-out;
            @include prefix(box-shadow, 0px 0px 12px 0px rgba(0,0,0,0.75), webkit moz);
            @include med-query($small){
                width: $width-buttons*1.2;
                height: $height-buttons*1.2;
            }
            &.is-active{
                transform: rotate(225deg);
            }
            .mas_nav{
                @include medio(absolute, 50%, 50%, -50%, -50%);
                width: 60%;
                height: 60%;
                .mas_nav_item{
                    background-color: color(gris-obscuro);
                    &.horizontal{
                        width: 100%;
                        height: 3px;
                        @include medio(absolute, 50%, 0, 0, -50%);
                    }
                    &.vertical{
                        width: 3px;
                        height: 100%;
                        @include medio(absolute, 0, 50%, -50%, 0);
                        z-index: 3;
                    }
                }
            }
        }
    }
}