@import '_functions.scss';
@import '_home.scss';
@import '_contacto.scss';
@import '_hamburgers.scss';


@include fontface("muli", '/css/fonts/Muli-Regular.ttf', normal);
@include fontface("muli", '/css/fonts/Muli-Bold.ttf', bold);
@include fontface("muli_bolditalic", '/css/fonts/Muli-BoldItalic.ttf', normal);


html{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.fondo_madera{
    @include fondos('../img/back_madera.jpg'); 
}
.fondo_claro{
    @include fondos('../img/back_claro.jpg'); 
}
.hamburger_cont{
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: #fff;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    z-index: 100;
    @include prefix(box-shadow, 0px 0px 12px 0px rgba(0,0,0,0.75), webkit moz);
}
.logo{
    width: 70px;
    max-width: 40%;
    @include medio(absolute, 20px, 100%, -120%, 0);
    z-index: 100;
    @include med-query($medium){
        width: 100px;
    }
}
.promo{
    @include medio(fixed, 100%, 50%, -50%, -100%);
    width: 400px;
    max-width: 80%;
    @include med-query($medium){
        @include medio(fixed, 100%, 100%, -100%, -100%);
    }
}